.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tune {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  padding: 4px;
}

.tune-details {
  padding: 0 20px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;

  p:nth-of-type(1) {
    text-align: left;
    flex-grow: 1;
  }
  p:nth-of-type(2) {
    text-align: right;
    flex-grow: 1;
  }
  p:nth-of-type(3) {
    text-align: right;
    width: 40px;
    margin-left: 10px;
  }


}

.delete-button {
  cursor: pointer;
}

.fa-heart {
  cursor: pointer;
}

.fas {
  color: rgb(255, 79, 79);
}